@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

// change the theme
$primary: #9d4edd;
$info: #5a189a;

$font-family-sans-serif: "Inter", sans-serif;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.nav-underline .nav-item .nav-link.active {
  border-bottom: 5px solid $primary;
}

.badge-info {
  background-color: #c77dff;
}

.toggleable > input[type="radio"] {
  display: none;
}

.btn-outline-primary.active {
  background-color: $primary !important;
  border-color: $primary !important;
}

// .input-group-prepend {
//   flex: 0 0 20%;
// }

// // .input-group-prepend .input-group-text {
// //   width: 100%;
// // }

.input-group-prepend.login {
  width: 40%;
}

.input-group-prepend.create-listing-input {
  width: 15%;
}

.input-group-prepend .input-group-text {
  width: 100%;
  overflow: hidden;
}

.square {
  display: block;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
